# core dependencies
python-dotenv
pyyaml
jinja2
pydantic
retry

# pdf processing
pdfplumber==0.10.3
PyMuPDF==1.23.8
pdf2image==1.16.3

# html processing
beautifulsoup4

# agent tools
anthropic
claude-agent-sdk
replicate
elevenlabs

# image processing
Pillow
requests
pymupdf
html2image

# audio processing
pydub

# video generation
moviepy==1.0.3
numpy
ffmpeg-python

# fastapi
fastapi[standard]
pydantic[email]
pymongo
email-validator
dnspython
passlib[bcrypt]
bcrypt
PyJWT
python-multipart
uvicorn
python-jose[cryptography]
starlette
typing-extensions
aiofiles
celery
redis
httpx
motor
redis
celery[redis]
broadcaster

